.register-container {
    max-width: 25rem;
    margin: 2.5rem auto;
    padding: 0 1rem;
    width: 100%;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (max-width: 30rem) {
    .register-container {
        padding: 0 1.5rem;
    }

    .register-form {
        gap: 1rem;
    }
}

.already-have-account {
    text-align: center;
    margin-top: 1rem;
}

.already-have-account p {
    font-size: 0.875rem; /* Use rem for responsiveness */
    color: #555;
}

.already-have-account button {
    padding: 0; /* Removes extra padding around the link */
}
